.header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.header__back-icon {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: 2rem;
  fill: #000;
}
