.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__back-icon {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  width: 2rem;
  fill: #000;
}
