/* button.style.css */

.btn {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
}

.btn:disabled {
  background-color: var(--acent-color);
  color: white;
  cursor: not-allowed;
  transform: scale(1);
}

.btn:disabled:hover {
  background-color: var(--acent-color);
}

.btn-centered {
  margin: 0px auto;
}

.btn-small {
  font-size: 0.75rem;
  padding: 5px 16px;
}

.btn-medium {
  font-size: 0.85rem;
  padding: 8px 20px;
}

.btn-large {
  font-size: 0.95rem;
  width: 12rem;
  height: 1.9rem;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.btn-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-hover);
}

.btn-danger {
  color: white;
  background-color: var(--color-danger);
}

.btn-danger:hover {
  background-color: var(--color-danger-hover);
}

.btn-warning {
  color: white;
  background-color: var(--color-warning);
}

.btn-warning:hover {
  background-color: var(--color-warning-hover);
}

.btn-success {
  color: white;
  background-color: var(--color-success);
}

.btn-success:hover {
  background-color: var(--color-success-hover);
}
