/* button.style.css */

:root {
  /* Variables de colores */
  --bg-primary: #0ca4adad;
  --bg-primary-hover: #1ca1caca;
  --bg-secondary: #e2e8f0;
  --bg-secondary-hover: #cbd5e1;
  --bg-danger: #dc2626;
  --bg-danger-hover: #b91c1c;
}

.btn {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.btn-small {
  font-size: 12px;
  padding: 10px 16px;
}

.btn-medium {
  font-size: 14px;
  padding: 11px 20px;
}

.btn-large {
  font-size: 16px;
  width: 12rem;
  height: 1.9rem;
}

.btn-primary {
  color: white;
  background-color: var(--bg-primary);
}

.btn-primary:hover {
  background-color: var(--bg-primary-hover);
}

.btn-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.btn-secondary:hover {
  background-color: var(--bg-secondary-hover);
}

.btn-danger {
  color: white;
  background-color: var(--bg-danger);
}

.btn-danger:hover {
  background-color: var(--bg-danger-hover);
}
